.admin-settings-btn, .admin-settings-btn:hover, .section-divider, .save-btn, .cancel-btn{
	behavior: url(css/PIE.htc);
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: #e9e8e8;
	font:normal 100% "helvetica neue",Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

p, a {
	font-family: "proxima_nova_rgregular",arial,sans-serif;
	font-size: .875em;
	color: #343131;
}

p {
	margin:0px;
	padding:0px;
}

h2 {
	font-family: "proxima_nova_rgbold",arial,sans-serif;
	color: #595c5d;
	font-size: 1.5em;
	padding: 0px;
	margin:0px;
}

a {
	
}

a:hover {
	text-decoration: none;
}

.img {
	max-width: 100%;
}

.left {float:left;}
.right {float:right;}
.center {text-align:center;}
.full-width {width: 100%;}
.vert-center-wrapper {position:absolute; width: 100%; height: 100%;display:table;}
.cell {display: table-cell; vertical-align:middle; text-align:center;}
.pos-ab {position:absolute;}
.pos-rel {position:relative;}
.fixed {position:fixed;}
.clear {clear:both;}

.m-t-s {margin-top: 5px;}
.m-t-m {margin-top: 10px;}
.m-t-ml {margin-top: 15px;}
.m-t-l {margin-top: 20px;}
.m-t-xl {margin-top: 30px;}
.m-r-s {margin-right: 5px;}
.m-r-m {margin-right: 10px;}
.m-r-xs {margin-right: 3px;}
.m-l-s {margin-left: 5px;}
.m-l-m {margin-left: 10px;}
.m-l-xs {margin-left: 3px;}
.p-t-s {padding-top: 5px;}
.p-t-m {padding-top: 10px;}
.p-t-l {padding-top: 20px;}
.m-b-s {margin-bottom: 5px;}
.m-b-m {margin-bottom: 10px;}
.m-b-l {margin-bottom: 20px;}
.p-b-s {padding-bottom: 5px}
.p-b-m {padding-bottom: 10px}
.p-b-l {padding-bottom: 20px}

.wrapper {
	width: 95.7142857%;
	padding-left: 2.14285714%;
	padding-right: 2.14285714%;
}

.masthead {
	position:fixed;
	background: #262829;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index:2;
}

.page-wrapper {
	position:relative;
	padding-top: 92px;
	width: 1270px;
	margin-left:auto;
	margin-right:auto;
}

.player-container {
	float:left;
	position:relative;
	background: #ffffff;
	text-align:center;
}

.player-volume-container {
	float:left;
	height: 100%;
}

.player-volume {
	position:absolute;
	background: #262829;
	height: 4px;
	width: 125px;
	top: 50%;
	margin-top: -2px;
}

.volume-slider {
	position:absolute;
	top: 50%;
	margin-top: -8px;
	background: #262829;
	width: 4px;
	height: 16px;
	cursor: pointer;
}

.player-controls {
	float:left;
	margin-right: 40px;
}

.player-play-btn {
	background: #262829 url('../img/icons/play-btn.png')no-repeat center;
	float:left;
	height: 30px;
	width: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-left: 12px;
	margin-right: 12px;
	cursor: pointer;
}

.player-next-btn, .player-prev-btn {
	float:left;
	height: 24px;
	width: 24px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	cursor: pointer;
}

.player-next-btn {
	background: #262829 url('../img/icons/next-btn.png')no-repeat center;
}

.player-prev-btn {
	background: #262829 url('../img/icons/prev-btn.png')no-repeat center;
}

.player-titles {
	display:inline-block;
	text-align:center;
}

.player-time {
	float:right;
	display:inline-block;
}

.playlist-wrapper {
	position:fixed;
	right:0;
	margin:20px;
	width: 360px;
}

.feed-container {
	float:left;
	background: #b3b8ba;
	padding:20px;
	margin-left: 150px;
}

.feed-item-container {
	display:inline-block;
	background: #ffffff;
	width: 620px;
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.playlist-item-right {
	float:left;
	margin-left: 10px;
	width: 300px;
}

.title-songlist {
	font-family: "proxima_nova_rgbold",arial,sans-serif;
	color:#262829;
	font-size: 0.875em;
	text-align:center;
}

.song-list-item {
	background: #e8edf0;
	color: #262829;
	margin:0px;
	padding:5px 8px 5px 8px;
	font-size: 0.6875em;
}

.now-playing .song-list-item{
	background: #2c2f31;
}

.now-playing .odd {
	background: #323638;
}

.odd {
	background: #d1d8dc;
}

.song-list-play-btn {
	margin-right: 5px;
}

.song-list-play-btn, .song-list-add-btn {
	display:none;
}

.song-list-item:hover .song-list-play-btn {
	display:block;
	background: url('../img/icons/songlist-np-play-btn.png')no-repeat center;
	width: 9px;
	height: 9px;
	border:none;
	cursor:pointer;
}

.song-list-item:hover .song-list-add-btn {
	display:block;
	background: url('../img/icons/songlist-np-add-btn.png')no-repeat center;
	width: 9px;
	height: 9px;
	border:none;
	cursor:pointer;
}

.posted-by {
	font-family: "proxima_nova_rgbold",arial,sans-serif;
	color: #22a9e0;
	margin-bottom: 5px;
	font-size: 0.75em;
}

.song-img-container {
	position:relative;
	width: 300px;
	height:300px;
}

.time-stamp {
	color: #b0b6b9;
	font-family: "proxima_nova_rgregular",arial,sans-serif;
}

.song-title {
	margin-top: 5px;
	font-family: "proxima_nova_rgbold",arial,sans-serif;
	text-align:center;
}

.artist-album {
	font-family: "proxima_nova_rgregular",arial,sans-serif;
	text-align:center;
}

.playlist-btn-container {
	text-align:center;
	margin-top: 15px;
}

.playlist-btn {
	display:inline-block;
	background: #22a9e0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	color: #ffffff;
	padding: 5px 15px 5px 15px;
}

.now-playing {
	background: #262829;
}

.now-playing .time-stamp,.now-playing .song-title,.now-playing .artist-album, .now-playing .song-list-item, .now-playing .title-songlist  {
	color: #ffffff;
}


.nav {
	list-style:none;
}

.nav-item {
	float:left;
	margin-left: 10px;
	margin-right: 10px;
}

.nav-item a {
	font-family: "proxima_nova_rgbold",arial,sans-serif;
	color: #ffffff;
	text-decoration:none;
	font-size: 0.875em;
}

input, textarea, select {
   	-webkit-appearance: none;
   	-moz-appearance: none;
   	background: #ffffff;
 	border: none;
   	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}

.song-search {
	width: 200px;
}


.timeline-container {
	position:fixed;
	float:left;
	text-align:right;
	padding:20px 0 0 0;
	width: 150px;
}

.timeline-year {
	font-family: "proxima_nova_rgbold",arial,sans-serif;
	color: #595c5d;
	font-size: 1.5em;
	padding: 5px 25px 5px 25px; 
}

a.timeline-month {
	display:block;
	font-family: "proxima_nova_rgbold",arial,sans-serif;
	color: #595c5d;
	font-size: 0.875em;
	text-decoration:none;
	text-align:right;
	padding: 5px 25px 5px 25px;
}

a.month-active {
	background: #b3b8ba;
	color: #ffffff;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.playlist-container {
	float:left;
	background: #ffffff;
	width: 360px;
}

.playlist-container .song-list-item{
	background: #ffffff;
}

.playlist-container .odd {
	background: #f4f5f6;
}

.song-list-item-title {
	background: #b3b8ba;
	color: #ffffff;
	padding:5px 8px 5px 8px;
}

.song-list-item-title .title-artist, .song-list-item-title .title-song {
	float:left;
	font-size: 0.875em;
	font-family: "proxima_nova_rgbold",arial,sans-serif;
	width: 172px;
}